.navbar-box {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #334e68;
  display: flex;
  justify-content: space-around;
  padding: 0.8rem;
  z-index: 1000;
}

.navbar-box-content {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-box-content li {
  margin: 0 0.3rem;
}

.navbar-box-content a {
  color: #f0f4f8;
  text-decoration: none;
  cursor: pointer;
  transition: text-shadow 0.2s;
  user-select: none;
}

.navbar-separator {
  color: #f0f4f8;
  user-select: none;
}

.navbar-border-shadow {
  border-bottom: 2px solid #334e68;
  box-shadow: 0px 2px 8px rgba(62, 189, 147, 0.5);
}

.navbar-box-content a:hover {
  text-shadow: 0px 2px 8px #3ebd93;
}
