.about-border-shadow {
  border-bottom: 2px solid green;
  box-shadow: rgba(28, 241, 0, 0.3) 0px 19px 38px,
    rgba(23, 7, 236, 0.22) 0px 15px 12px;
}

.top-div {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 0.8rem;
  z-index: 1000;
}

.top-div-content a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  transition: text-shadow 0.2s;
  margin-inline: 0.5rem;
}

.top-div a:hover {
  text-shadow: 0px 2px 8px rgba(144, 252, 4, 0.966);
}

@media (max-width: 600px) {
  .top-div {
    max-width: none;
  }
}
