.top-div {
  position: fixed;
  margin-top: 0.3rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 600px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem;
  z-index: 1000;
}

.top-div a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  transition: text-shadow 0.2s;
}

.top-div a:hover {
  text-shadow: 0px 2px 8px rgba(144, 252, 4, 0.966);
}

@media (max-width: 600px) {
  .top-div {
    width: 95%;
    max-width: none;
  }
}
