.top-div {
  position: fixed;
  margin-top: 0.3rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 600px;
  background-color: black;
  border-width: 1px;
  border-color: green;
  border-style: solid;
  border-radius: 30px 30px 30px 30px; /* Valores de border-radius para las esquinas */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.top-div p {
  margin: 0;
  font-size: 18px;
}

@media (max-width: 600px) {
  .top-div {
    width: 95%;
    max-width: none;
  }
}
