/* TOGGLE */
.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-switch {
  width: 60px;
  height: 30px;
  background-color: rgba(173, 16, 16, 0.8);
  border: 3px solid var(--text-primary); 
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color var(--transition-normal);
}

.toggle-switch.on {
  background-color: var(--accent-green);
}

.slider {
  width: 20px; 
  height: 20px; 
  background-color: var(--text-primary);
  border-radius: 50%;
  position: absolute;
  top: 50%; 
  left: 3px;
  transform: translateY(-50%);
  transition: transform var(--transition-normal);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.slider.on {
  transform: translateX(30px) translateY(-50%);
  left: 2px;
  background-color: var(--text-primary);
}
