/* MAIN BOX */
.courses-box {
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 85%;
}

/* INDIVIDUAL BOX */

.course-box {
  background-color: #243d53;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-left: 0.1rem;
  border: 1px solid #486581;
  border-radius: 1rem;
}

.course-boxe a {
  color: #f0f4f8;
  text-decoration: none;
  cursor: pointer;
}

/* TITLE */

.course-title-envelop {
  margin-top: 1rem;
}

/* TAGS */
.courses-tags {
  display: flex;
  flex-wrap: wrap;
}

.courses-tag {
  margin-bottom: 0.5rem;
  background-color: #243b53;
  height: 2rem;
  padding: 0.2rem 0.4rem;
  border: 1px solid #486581;
  border-radius: 50px;
  user-select: none;
  display: block;
}

/* BUTTONS */
.button-envelop {
  margin-bottom: 0.9rem;
}

.course-button {
  user-select: none;
  padding: 5px;
  background-color: #0c6b58;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.course-button:hover {
  background-color: #014d40;
}
