.curses-box {
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 85%;
}

.courses-tags {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas nuevas */
}

.courses-tag {
  margin-bottom: 0.5rem; /* Agrega un margen inferior para separar las tecnologías verticalmente */
  background-color: #243b53;
  height: 2rem;
  padding: 0.2rem 0.4rem;
  border: 1px solid #486581;
  border-radius: 50px;
  user-select: none;
  display: block; /* Muestra cada tecnología en una línea nueva */
}

.course-box-size {
  margin-bottom: 1.5rem;
}

.course-box-size a {
  color: #f0f4f8;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo base del botón */
.boton-enlace {
  user-select: none;
  padding: 5px; /* Ajusta el relleno según tus preferencias */
  background-color: #0c6b58; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  text-decoration: none; /* Elimina la subrayado predeterminado del enlace */
  border: none; /* Elimina el borde predeterminado */
  border-radius: 0.5rem; /* Agrega esquinas redondeadas */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición de color de fondo */
}

/* Cambia el color de fondo al pasar el cursor sobre el botón */
.boton-enlace:hover {
  background-color: #014d40; /* Nuevo color de fondo al pasar el cursor */
}
