body {
  background-color: #102a43;
  color: #f0f4f8;
}

/* Line style and animation */
.animated-line {
  position: relative;
  height: 2px;
  background: linear-gradient(to right, green, #0d927c);
  margin: 20px 0;
  overflow: hidden;
}

.animated-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, green, #3498db);
  animation: colorChange 2s linear infinite;
}

@keyframes colorChange {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/* Higlight text */
.special-text-color {
  color: #8eedc7;
}

/* Toggle */
.fade-enter {
  opacity: 0;
  transform: scale(0.1); /* Escala inicial más pequeña */
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1); /* Escala normal */
  transition: opacity 500ms, transform 500ms, height 500ms;
}

.fade-exit {
  opacity: 1;
  transform: scale(1); /* Escala normal */
}

.fade-exit-active {
  opacity: 0;
  transform: scale(1); /* Escala más pequeña al salir */
  transition: opacity 500ms, transform 500ms, height 500ms;
}
